@media  screen and (min-width: 85px) {
 

    body {
        background-color:mediumturquoise;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        @media screen and (min-width:200px){
            background-color: #3ee0bd;
        }
    }


    
    .container {
        width: auto;
        margin: auto;
    }
    
    .menu {
    border: 0.1px solid #3ee0bd;
    padding: 1em;
    width : 60%;
    margin: auto;
    margin-top: 1em;
    
    background-color: #00b4d8;
    }

    .side-bar {
            border: 0.1px solid #3ee0bd;
            padding: 1em;
            margin: auto;
            width: 60%;
            margin-top: 1em;
            background-color:#0077b6;
            
    }
    .content{
            border: 1px solid #3ee0bd;
            padding: 1em;
            margin: 1em;
            background-color:brown;
    }

    

    .center {
        display: flex;
        flex: 1
        
    }
    
    
    .footer {
            border: 1px solid #3ee0bd;
            padding: 0.1em;
            margin: 1em;
            background-color: #00b4d8;
            }

            .Place1 {
                border: 1px solid #3ee0bd;
                padding: 1em;
                margin: 1em;
                background-color: #4361ee;
                width: auto;
                }

                .Place2 {
                    border: 1px solid #3ee0bd;
                    padding: 1em;
                    margin: 1em;
                    width: auto;
                    background-color: #90e0ef;
                    }

                    .Place3 {
                        border: 1px solid #3ee0bd;
                        padding: 1em;
                        margin: 1em;
                        width: auto;
                        background-color: #023e8a;
                        }

    }
    

    
    
    @media screen and (min-width: 800px) {
        .footer {
            display: flex;
            background-color: #3ee0bd;
            orientation:10px;
            aspect-ratio:initial ;
            width: auto;
            }
    


    }
